.all-posts {
  display: flex;
  height: 490px;
  flex-direction: column;
  padding: 1px 5px;
}

.toBold {
  font-weight: bold;
}
.toRed {
  color: #dc143c;
}

.main_tytle {
  font-family: "Lucida Handwriting";
  text-align: center;
}

h3 {
  margin: 0 0 5px 0;
}

.onlyPosts {
  display: flex;
  height: 350px;
  flex-direction: column;
  padding: 1px 5px;
  overflow: auto;
}

label:first-child {
  margin-right: 40px;
}
