.baseFor-newPost {
  display: flex;
  flex-direction: row;
}

.new-post-form {
  /* background-color: lemonchiffon; */
  display: flex;
  align-content: center;
  row-gap: 10px;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  width: 50%;
  margin: 0px;
  padding-top: 100px;
}

.new-post-form h1,
.new-post-form input,
.new-post-form textarea,
.new-post-form button {
  width: 50%;
}

.footer-picture {
  width: 50%;
}
